html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
	font-family: 'Thasadith', sans-serif;
}

html {
  scroll-behavior: smooth;
}
body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	font-family: 'Thasadith', sans-serif;
}

body img {
    max-width: 100%;
}


li {
    list-style-type: none;
}

p {
    margin: 0;
    font-size: 17px;
    line-height: 2em;
    letter-spacing: 2px;
    color: black;
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
}


/*-- header --*/

header {
    position: absolute;
    z-index: 9;
    width: 100%;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	/* position: relative; */
}


#logo a {
	float: left;
    font-size: .8em;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
    padding: 3px 0;
    border: none;
}
#logo a span.fa {
    color: #e8cd30;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	/* float: left; */
	}

/* Styling the links */
nav a {
    color: #ddd;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 0;
	padding: 10px 0;
    font-weight: 700;
}


nav ul li ul li:hover { background: #f8f9fa; }

/* Background color change on Hover */
nav a:hover { 
	color: #ddd;
}
.menu li.active  a{ 
	color: #fff;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 30px; 
    background: #fff;
    padding: 10px;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}
nav ul li span {
    color: #ddd;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 0;
    font-weight: 700;
}
ul.menu li span.fa {
    color: #e8cd30;
}
/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 991px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}
	.menu li.active a {
		color: #009f4d;
	}
	nav ul li span {
		color: #333;
	}
	nav {
		margin: 0;
	}
	nav a {
		color: #333;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		padding: 5px 15px;
		font-size: 20px;
		text-decoration: none;
		border: none;
		float: right;
		background-color: #009f4d;
		color: #fff;
	}
	.menu .toggle {
		float: none;
		text-align: center;
		margin: auto;
		width: 30%;
		padding: 5px;
		font-weight: normal;
		font-size: 15px;
		letter-spacing: 1px;
	}

	.toggle:hover {
		color:#333;
		background-color: #fff;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
		background: #fff;
		padding: 15px 0;
		width:100%;
		text-align: center;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		padding: 7px 0;
		}
	nav a{
		padding: 5px 0;
	}
	nav a:hover {
		color: #333;
	}
	.login-icon {
		text-align: center;
	}
	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: transparent;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
	nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #fff; 
	}
	nav ul ul li a {
		font-size: 15px;
	}
	ul.inner-ul{
		padding: 0!important;
	}
	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
		padding: 0;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
.user span.fa {
    font-size: 25px;
    color: #fff;
}
/*-- //header --*/

/* banner style */
.banner_w3lspvt {
    position: relative;
    z-index: 1;
}

.banner-top {
    background-image:linear-gradient(rgba(47, 82, 47,0.6),rgba(20, 27, 21, 0.6)), url(../images/3.jpg) ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}

.banner-top1 {
    background: url(../images/1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top2 {
    background: url(../images/5.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top3 {
    background: url(../images/2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.w3layouts-banner-info {
    padding-top: 100px;
}

.w3layouts-banner-info h3 {
    font-size: 4em;
    text-shadow: 3px 4px 6px rgba(45, 45, 45, 0.15);
    font-weight: 600;
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.w3layouts-banner-info p {
    max-width: 650px;
    color: #fff;
}
.w3layouts-banner-info h4 {
    color: #eee;
    letter-spacing: 5px;
	line-height: 35px;
	text-transform: capitalize;
}

.w3layouts-banner-info i {
    vertical-align: middle;
}

.banner-top,
.banner-top1,
.banner-top2,
.banner-top3 {
    min-height: 770px;
}


.button-style {
    padding: 15px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid #ccc;
    background: none;
    display: inline-block;
}

.button-style:hover {
    color: #fff;
}

/*-- //banner style --*/
img.img-fluid{
	border: 5px none ;
	border-radius:10px ;
}
/*-- about --*/
h3.heading {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 600;
	background-color: rgba(52, 107, 53, 0.6);
	color: #FFF;
	box-shadow: 0 0 0;
	padding: 40px;
	width: fit-content;
}
p.about-text {
    width: 80%;
}
.feature-grids .f-icon {
    vertical-align: middle;
    background: #009f4d;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0.5em auto 0;
    border-radius: 50%;
}
.feature-grids span.fa {
    color: #fff;
    font-size: 20px;
    line-height: 70px;
}
.feature-grids h3 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 30px;
    text-transform: uppercase;
}
.feature-grids  p {
    letter-spacing: 1px;
}
/*-- //about --*/

h4{
	color: #F1B24A;
}


/*-- bg --*/
.background-img {
    background: url(../images/5.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.bg-middle p {
    letter-spacing: 1px;
    color: #ffffff;
    line-height: 28px;
}
.bg-right ul li {
    letter-spacing: 1px;
    color: #FFF;
    line-height: 30px;
    font-size: 17px;
    font-weight: 600;
	text-transform: capitalize;
}
.bg-left h4 {
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
/*-- //bg --*/

/*-- blog info --*/

.blog-grids {
    margin-bottom: 120px;
}

.blog-left,.blog-middle,.blog-right{
	position: relative;
}
.blog-info {
    background: #fff;
    padding: 30px;
    margin-top: -2em;
    position: absolute;
    left: 6%;
    right: 6%;
    top: 200px;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.08), 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 14px 0 rgba(0, 0, 0, 0.06);
	border: 4px solid #F1B24A;
	border-radius:10px ;
}
.blog-info p {
    letter-spacing: 1px;
    line-height: 28px;
}
.blog-info h4 {
    font-size: 22px;
    line-height: 42px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}
.blog-info h4 span.fa {
    color: #009f4d;
}

/*-- //blog info --*/


/*--  text --*/
.text {
    background: url(../images/2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.text:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    background: #000;
}
.text h3.heading{
	color: #fff;
}
.text h3.heading span {
    color: #e8cd30;
}
.text p {
    color: #ccc;
    width: 80%;
    margin: auto;
    letter-spacing: 1px;
}
.text a.btn {
    font-size: 17px;
    letter-spacing: 2px;
    color: #333;
    font-weight: 700;
    padding: 12px 25px;
    margin-top: 30px;
    border-radius: 4px;
    background: #e8cd30;
    display: inline-block;
}
.text a.btn1 {
    font-size: 17px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 700;
    padding: 12px 25px;
    margin-top: 30px;
    border-radius: 4px;
    background: #009f4d;
    display: inline-block;
}
/*--  //text --*/

/*-- footer --*/

p.footer-para {
    max-width: 650px;
    font-size: 15px;
}

/*-- footer logo --*/
.logo2 {
    position: relative;
}

.logo2 a {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.logo2 a span.fa {
	color: #e8cd30;
}

/*-- //footer logo --*/

/*-- footer home dashboard about  --*/
.homelogo {
    position: relative;
}

.homelogo a {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1px;
}

.homelogo a span.fa {
	color: #e8cd30;
}

/*-- //footer logo --*/


/*-- social icons --*/
.footercopy-social ul li,
.contact-left-footer ul li {
    display: inline-block;
}
footer{
    background: rgba(33, 52, 33, 0.9);
}
.footercopy-social ul li a {
    color: #333;
    text-align: center;
}




a.move-top {
    width: 34px;
    height: 34px;
    background: url(../images/move-top.png) no-repeat;
    display: inline-block;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 0;
}
/*-- //move top --*/


/*-- Responsive design --*/

@media(max-width:1366px) {
	.banner-top, .banner-top1, .banner-top2, .banner-top3,.overlay,.overlay1 {
		min-height: 750px;
	}
}
@media(max-width:1280px) {
	.banner-top, .banner-top1, .banner-top2, .banner-top3,.overlay,.overlay1 {
		min-height: 720px;
	}
}
@media(max-width:1080px) {
	.w3layouts-banner-info h3 {
		font-size: 3.5em;
	}
	.w3layouts-banner-info {
		padding-top: 14em;
	}
	.banner-top, .banner-top1, .banner-top2, .banner-top3,.overlay,.overlay1 {
		min-height: 650px;
	}
	p.about-text {
		width: 85%;
	}
	.core-right h4 {
		font-size: 23px;
	}
	.bg-left h4 {
		font-size: 21px;
	}
	.blog-grids {
		margin-bottom: 160px;
	}
	.feedback-info h4 {
		letter-spacing: 3px;
	}
	h4.abt-text {
		font-size: 2.2em;
	}
	.feedback-info h4 {
		letter-spacing: 2px;
	}
	.inner-banner {
		min-height: 200px;
	}
}

@media(max-width:991px) {
	.w3layouts-banner-info {
		padding-top: 12em;
	}
	h3.heading {
		font-size: 36px;
	}
	.welcome-grid {
		width: 33.33%;
		float: left;
	}
	.blog-grids {
		margin-bottom: 100px;
	}
	.text p {
		width: 100%;
	}
	.w3layouts-banner-info h4 {
		font-size: 22px;
		letter-spacing: 3px;
		line-height: 25px;
	}	
	.banner-top, .banner-top1, .banner-top2, .banner-top3,.overlay,.overlay1 {
		min-height: 600px;
	}
	.about-left h3 {
		font-size: 29px;
		letter-spacing: 1px;
	}
	.about-left h4 {
		font-size: 23px;
		letter-spacing: 1px;
	}
	h4.abt-text {
		font-size: 2em;
		letter-spacing: 1px;
	}
	.feedback-img {
		width: 10%;
	}
	.feedback-img-info {
		width: 86%;
	}
	.counter span.fa,.timer {
		font-size: 2.5em;
	}
	.n-right-w3ls {
		width: 80%;
	}
}

@media(max-width:800px) {
	h3.heading {
		font-size: 33px;
	}
	.logo2 a {
		font-size: 30px;
	}
	.text a.btn1,.text a.btn {
		font-size: 15px;
		padding: 10px 25px;
		letter-spacing: 1px;
	}
	.w3layouts-banner-info h3 {
		font-size: 3em;
	}
	#logo a {
		font-size: .7em;
	}
	.address-row h5 {
		font-size: 1.4em;
	}
	.address-row .contact-icon {
		width: 55px;
		height: 55px;
		line-height: 55px;
	}
	.address-row span.fa {
		font-size: 1em;
		line-height: 55px;
	}
	.map iframe {
		height: 300px;
	}
}
@media(max-width:736px) {
	.w3layouts-banner-info h4 {
		font-size: 18px;
		letter-spacing: 2px;
		line-height: 25px;
	}
	p.about-text {
		width: 100%;
		letter-spacing: 1px;
	}
	.welcome-grid {
		width: 50%;
	}
	.blog img {
		width: 100%;
	}
	.blog-info {
		top: 280px;
	}
	.w3l-copy p {
		font-size: 16px;
	}
	.blog-info h4 {
		font-size: 20px;
		line-height: 35px;
	}
	.welcome-grid span.fa {
		font-size: 40px;
	}
	.inner-banner {
		min-height: 150px;
	}
	.about-left h3 {
		font-size: 24px;
	}
	.about-left h4 {
		font-size: 20px;
		letter-spacing: 1px;
	}
	.n-right-w3ls {
		width: 100%;
	}
	.comingsoon h4 {
		font-size: 35px;
	}
}
@media(max-width:600px) {
	.core-right h4 {
		font-size: 21px;
		line-height: 38px;
	}
	p {
		font-size: 16px;
	}
	.w3layouts-banner-info p {
		font-size: 15px;
	}
	.w3layouts-banner-info h3 {
		font-size: 2.7em;
		letter-spacing: 5px;
	}
	.button-style {
		padding: 13px 35px;
		font-size: 14px;
	}
	.w3layouts-banner-info {
		padding-top: 10em;
	}
	.feature-grids h3,.welcome-grid h4 {
		font-size: 20px;
		letter-spacing: 2px;
	}
	.banner-top, .banner-top1, .banner-top2, .banner-top3, .overlay, .overlay1 {
		min-height: 570px;
	}
	.team-text h4 {
		font-size: 18px;
		letter-spacing: 1px;
	}
	h4.abt-text {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
	.feedback-img {
		width: 15%;
	}
	.feedback-img-info {
		width: 81%;
	}
	h4.home-title {
		font-size: 21px;
		line-height: 35px;
	}
}
@media(max-width:568px) {
	
	.blog-left, .blog-middle {
		margin-bottom: 2em;
	}
	.banner-top, .banner-top1, .banner-top2, .banner-top3, .overlay, .overlay1 {
		min-height: 520px;
	}
	.blog-grids {
		margin-bottom: 70px;
	}
	.about-left h5 {
		font-size: 18px;
	}
}
@media(max-width:480px) {
	.logo2 a {
		font-size: 25px;
	}
	h3.heading {
		font-size: 28px;
	}
	.w3layouts-banner-info h3 {
		font-size: 2.2em;
	}
	.banner-top, .banner-top1, .banner-top2, .banner-top3, .overlay, .overlay1 {
		min-height: 500px;
	}
	.w3layouts-banner-info {
		padding-top: 8em;
	}
	.bg-left h4 {
		font-size: 20px;
		line-height: 36px;
	}
	.blog-info {
		top: 180px;
	}
	.about-left h3 {
		font-size: 22px;
		line-height: 34px;
	}
	.feedback-img {
		width: 18%;
	}
	.feedback-img-info {
		width: 76%;
	}
	.newsletter button.btn {
		width: 31%;
	}
	.comingsoon h4 {
		font-size: 30px;
		letter-spacing: 1px;
	}
}
@media(max-width:414px) {
	.csslider>.arrows label {
		padding: 8px !important;
	}
	#logo a {
		font-size: .65em;
	}
	.toggle {
		font-size: 17px;
	}
	.w3layouts-banner-info h3 {
		font-size: 2em;
	}
	.welcome-grid p {
		font-size: 15px;
	}
	.welcome-grid span.fa {
		font-size: 35px;
		margin-bottom: 0px;
	}
	.core-right h4 {
		font-size: 19px;
		letter-spacing: 1px;
		line-height: 36px;
	}
	.blog-left, .blog-middle {
		margin-bottom: 4em;
	}
	.blog-grids {
		margin-bottom: 85px;
	}
	.bg-left h4 {
		font-size: 19px;
		line-height: 36px;
		letter-spacing: 1px;
	}
	.contact-left-footer ul li p a, .contact-left-footer ul li p {
		font-size: 15px;
	}
	.blog-grids {
		margin-bottom: 90px;
	}
	h4.abt-text {
		font-size: 1.6em;
	}
	.abt_bottom a.serv_link {
		font-size: 15px;
		letter-spacing: 1px;
		padding: 10px 25px;
	}
	.counter span.fa, .timer {
		font-size: 2em;
	}
	p.count-text {
		letter-spacing: 2px;
		font-size: 13px;
	}
	.feedback-info h4 {
		letter-spacing: 2px;
		font-size: 18px;
	}
	h4.home-title {
		font-size: 19px;
	}
	.newsletter .email {
		width: 64%;
		font-size: 15px;
	}
	.newsletter button.btn {
		width: 35%;
		font-size: 15px;
	}
	.address-row h5 {
		font-size: 1.2em;
	}
	.address-right {
		padding-left: 1em;
	}
}
@media(max-width:384px) {
	.feature-grids h3, .welcome-grid h4 {
		font-size: 18px;
		letter-spacing: 2px;
	}
	.w3layouts-banner-info p {
		letter-spacing: 1px;
	}
	.blog-left, .blog-middle {
		margin-bottom: 6em;
	}
	.csslider>.arrows label {
		padding: 7px;
	}
	.blog-grids {
		margin-bottom: 100px;
	}
	.about-left h4 {
		font-size: 18px;
	}
	h4.abt-text {
		font-size: 1.4em;
	}
	.newsletter .email {
		width: 62%;
		font-size: 14px;
	}
	.newsletter button.btn {
		width: 38%;
		font-size: 14px;
	}
	.inner-banner {
		min-height: 130px;
	}
	.address-right {
		padding-left: 1.5em;
	}
	.contact-left input[type="text"], .contact-left input[type="email"],.contact-right textarea {
		padding: 12px 15px;
	}
	.contact-left input[type="email"] {
		margin: 1em 0;
	}
}
@media(max-width:375px) {
	
}
@media(max-width:320px) {
	
}

/*-- //Responsive design --*/
