@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: large;
}
.time-zone{
    font-weight: bold;
    font-size: 50px;
    font-weight: 100;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1500px;
    overflow:hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.ppp{
    background:rgba(47, 82, 47, 0.1);   
    border-radius: 15px 40px;
    color: white;
    border: 3px solid #F1B24A;
    padding: 30px;
}
.container{
    padding: 20px 70px;
    color:#fff;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container .time{
    font-size: 100px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
    color:#F1B24A;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background: rgba(47, 82, 47, 0.6);
    padding:20px;
    border-radius: 15px 40px;
    margin: 10px 0;
    border: 3px solid #F1B24A;
    width: 400px;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}


.future-forecast{
   
    padding: 25px;
    position: fixed;
    display: flex;
    color:black;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #F1B24A;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 15px 40px;
    background: rgba(47, 82, 47, 0.6);
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: rgba(150, 219, 153, 0.6);
    border-radius: 15px 25px;
    text-align: center;
}

.future-forecast .today .temp{

    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 3px solid #F1B24A;
    padding: 15px;
    border-radius: 15px 25px;
    background:rgba(47, 82, 47, 0.6)
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: rgba(150, 219, 153, 0.6);
    border-radius: 15px 25px;
    
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-size: larger;
}


@media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
    }
    
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }

}

@media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}
.temp{
    font-size: larger;
    color: #fff;
}
::placeholder {
        
    /* Firefox, Chrome, Opera */
    color: white;
}
