<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Agro-Assist</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="Agro Harvest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />

    <script>
      addEventListener(
        "load",
        function () {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <script type="text/javascript">
      var duplicate_google_translate_counter = 0; //this stops google adding button multiple times

      function googleTranslateElementInit() {
        if (duplicate_google_translate_counter == 0) {
          new google.translate.TranslateElement(
            { pageLanguage: "en" },
            "google_translate_element"
          );
        }
        duplicate_google_translate_counter++;
      }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script
      type="text/JavaScript"
      src="{{ url_for('static', filename='scripts/cities.js') }}"
    ></script>

    <!-- css files -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- bootstrap css -->
    <link
      href="/static/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- custom css -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/home.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- google fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Thasadith:400,400i,700,700i&amp;subset=latin-ext,thai,vietnamese"
      rel="stylesheet"
    />
    <!-- //google fonts -->

    <style>
      .navbar {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        background-image: linear-gradient(
            rgba(36, 73, 36, 0.6),
            rgba(97, 148, 100, 0.6)
          ),
          url("/static/images/WhatsApp\ Image\ 2023-04-24\ at\ 11.39.11\ AM.jpeg");
        border-bottom: 3px solid #f1b24a;
      }
    </style>
  </head>

  <body>
    <!-- banner -->
    <nav
      class="navbar navbar-expand-lg navbar-dark static-top"
      style="height: auto"
    >
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img
            src="{{url_for ('static', filename='images/logo-1.png')}}"
            style="width: 100px; height: 70px"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home') }}"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('crop_recommend') }}"
                >Crop</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ url_for('fertilizer_recommendation') }}"
                >Fertilizer</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('disease_prediction') }}"
                >Disease</a
              >
            </li>
            <li>
              <a class="nav-link" href="{{ url_for('weather_recommendation') }}"
                >Your Current Location</a
              >
            </li>
            <li>
              <div className="">
                <div className="" id="google_translate_element"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- //banner -->

    {% block body %} {% endblock %}
  </body>
</html>
